// COLORS
main = #676EE9;
mainHover = rgba(103, 109, 233, 0.47);
hover = darken(main, 50%)
mainLight = #AB67AB
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #615576
blackBase =  #2f2f33
neotree = #2f2f33
menuBG = #cbcbcb
menuBorder = #ababab
// Resolution
cut = 37.5rem